div.clearfix
div.b-form
    h2 Lets talk
    form.b-form__input
        input(
        type='text'
        class='b-form__input_first-name'
        name='fname'
        placeholder = "First Name"
        )
        input(
        type='text'
        class='b-form__input_last-name'
        name='lname'
        placeholder = "Last Name"
        )
        input(
        type='text'
        class='b-form__input_email-address'
        name='mail'
        placeholder = "Email Address"
        )
        select(required class='b-form__input_selector')
            option(
            value = ''
            disabled selected hidden
            ) Select design
            option(
            value='1'
            ) App design
        textarea(
        rows = '5'
        class='b-form__input_query-area'
        placeholder = 'Type your query here'
        )
        button(type='submit' value='Send' class='b-form__input_sender-button') Send
        div.clearfix