div.clearfix
div.form
    h2.form__head Lets talk
    form.request-form
        input(
        type='text'
        class='request-form__input request-form_text-input-area'
        name='fname'
        placeholder = "First Name"
        )
        input(
        type='text'
        class='request-form__input request-form_text-input-area'
        name='lname'
        placeholder = "Last Name"
        )
        input(
        type='text'
        class='request-form__input request-form_text-input-area'
        name='mail'
        placeholder = "Email Address"
        )
        select(required class='request-form__selector request-form_text-input-area')
            option(
            value = ''
            disabled selected hidden
            ) Select design
            option(
            value='1'
            ) App design
        textarea(
        rows = '5'
        class='request-form__query-area request-form_text-input-area'
        placeholder = 'Type your query here'
        )
        button(type='submit'
        value='Send'
        class='request-form__sender-button request-form_text-input-area') Send
        div.clearfix